@media screen and (max-width:768px) {
    main {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .responsive {
        width: 100%;
        grid-column: 1;
        grid-row: auto;
    }

    .Coment1 {
        background-position-x: 480px;
    }
}

@media screen and (max-width:425px) {
    main {
        margin: 10% 5%;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .responsive {
        width: 100%;
        grid-column: 1;
        grid-row: auto;
    }

    .Coment1 {
        background-position-x: 280px;
    }
}